@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #010409;
  border-left: 1px solid #535353;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292828;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
